{% extends "base.html" %}
{% block content %}
<img class="about-image" alt="Me climbing a coconut palm" src="/images/me-palm.jpg" height="300">
<div id="about-content">
    <p>
        Hi,
    </p>
    <p>
        My name is Paulo and I'm a software developer. I enjoy all kinds of programming paradigms
        and I'm always trying to learn new stuff... like this page, which is the result of me
        learning Clojure. You may find the source code for this page on <a href="https://github.com/pbu88/clj-blog">Github</a>.
    </p>
    <p>
        Profesionally I've been working mainly with Python as a web developer. On my
        spare time I also use to answer some questions at <a target="_blank" href="http://stackoverflow.com/users/1401900/paulo-bu">StackOverflow</a> and train my
        algorithms skills in several online judges like <a target="_blank" href="https://open.kattis.com/users/pbu">Kattis</a> or 
        <a href="https://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=20&page=show_authorstats&userid=511358">UVa</a>.
    </p>
    <p>
        I like contributing to open source projects as you may see in my <a target="_blank" href="https://github.com/pbu88">Github account</a> and
        I'm the creator of <a href="http://diffy.org">Diffy</a>, my own open source project, a tool for sharing source control `diff` 
        output in your browser.
    </p>
    <p>
        I live in Amsterdam and currently I'm trying to learn Dutch! I have a strange
        passion for languages and Dutch has been quite a nice challenge :)
    </p>
    <p>
        Check also my profile on <a target="_blank" href="https://twitter.com/pbu88">Twitter</a>,
        <a target="_blank" href="https://www.linkedin.com/in/paulobu">LinkedIn</a>,
        <a target="_blank" href="http://careers.stackoverflow.com/pbu">Careers</a> and feel free to <a href="mailto:pbu_98@yahoo.com">contact me</a> :)
    </p>
    <p>
        Cheers!
    </p>
</div>
{% endblock content %}
