{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Hey there!</h1>
    <p class="lead">
        I'm Paulo and I'm a software developer in Amsterdam. I love to program in
        general and to learn new stuff. This (mini-)website is written in Clojure.
    </p>
    <ul class="links">
        <li><a href="mailto:pbu_98@yahoo.com"><i class="fa fa-envelope-square fa-4x"></i></a></li>
        <li><a target="_blank" href="https://github.com/pbu88"><i class="fa fa-github-alt fa-4x"></i></a></li>
        <li><a target="_blank" href="https://stackoverflow.com/cv/pbu"><i class="fa fa-stack-overflow fa-4x"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/pbu88"><i class="fa fa-twitter-square fa-4x"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/paulobu"><i class="fa fa-linkedin-square fa-4x"></i></a></li>
    </ul>
</div>
{% endblock content %}
