{% block header %}
<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            {% ifequal nav_active "home" %}
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/about">About me</a></li>
            {% else %}
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/about">About me</a></li>
            {% endifequal %}
        </ul>
    </nav>
        
    <img class="img-circle" alt="" height="50" 
         src="/images/profile.jpeg" width="50">
</div>
{% endblock header %}
